label{
    color: #e3e3e3;
    font-weight: 700;
}

td{
    padding-block: 0.25em;
}

canvas{
    background: #fff;
    border-radius: 10%;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}

button{
    width: 150px;
    color: #000;
    background: #5cdb95;
    padding-block: 0.2em;
    font-size: 0.9em;
    font-weight: 700;
    border-radius: 5%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    transition: all 350ms ease-in-out;
}

button:hover{
    background: none;
    cursor: pointer;
    border: 1px solid #5cdb95;
    color: #e3e5e5;
}

input[type='number']{
    width: 150px;
    font-size: 0.9em;
    font-weight: 700;
    border-radius: 5%;
    padding-block: 0.2em;
    border: 0;
}

.fastTap{
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.fastTap .container{
    height: 100vh;
}

.fastTap .flex{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.fastTap h1{
    color: #e3e3e3;
    font-size: 2.2em;
    text-transform: uppercase;
}