*{
    margin: 0;
    box-sizing: border-box;
}
.header-group{
    height: 80px;
    padding-block: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    margin-block-end: 1em;
}

.header-group form{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.logout-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline: 1em;
}

.logout-btn button,
.header-group input[type=submit]{
    padding: 0.3em 1em;
    background: #5cdb95;
    border: 0;
    font-size: 0.9em;
    transition: all 350ms ease-in-out;
    cursor: pointer;
    border-radius: 5%;
    text-transform: uppercase;
}

.logout-btn button:hover,
.header-group input[type=submit]:hover{
    background: transparent;
    color: #5cdb95;
    border: 0.5px solid #5cdb95;
    border-radius: 5%;
}

.game-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1em;
}

.game-links a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    margin-inline: 1em;
    transition: all 350ms ease-in-out;
}

.game-links a:hover{
    color: #5cdb95;
    border-bottom: 1px solid #5cdb95;
}